//------------our-features__section--------------
.our-features__icon-container {
  background: var(--team-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.our-features__icon {
  display: block;
  width: 70px;
  height: 70px;
}
.our-features__items {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 10px;
}
.our-features__text {
  line-height: 1.71;
}
//------------TEAM SECTION------------
.team__section {
  background: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__title {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  color: var(--second-color);
}
.team__card {
  background: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__block-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__name-dev {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 10px;
}
.team__dev-specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.customers__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-color);
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 210px;
  height: 92px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--customers-icon-fill);
  transition: border var(--time) var(--transition-bezier),
    filter var(--time) var(--transition-bezier);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: var(--customers-icon-fill);
  transition: fill var(--time) var(--transition-bezier);

  .customers__link:hover > &,
  .customers__link:focus > & {
    fill: var(--accent-color);
  }
}
.customers__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
//--------------------MOBILE--------------
@media screen and (max-width: 767px) {
  .our-features__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our-features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > li:not(:first-child) {
      margin-top: 30px;
    }
  }
  .our-features__items {
    text-align: center;
  }
  .what-we-do__section {
    display: none;
  }
  //----------------------------------------
  @media screen and (min-width: 480px) {
    .team__card {
      width: 450px;
    }
    .customers__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .team__card {
    margin-top: 30px;
  }
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
