.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--time) var(--transition-bezier),
    visibility var(--time) var(--transition-bezier);
  overflow-y: scroll;
}
.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.no-scrol {
  overflow: hidden;
}
